{{template "base" .}}

{{define "css"}}
    <style>
        .card {
            max-width: 700px;
            margin: 0 auto;
            padding: 10px 30px;
            border: 1px solid #ccc;
            margin-top: 80px;
            background-color: #e9ecef;
        }
        .card-header {
            background-color: #e9ecef;
        }
    </style>
{{end}}

{{define "title"}}
    Comprar
{{end}}

{{define "content"}}
{{$widget := index .Data "widget"}}

    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Comprar Widget</h2>
        </div>
        <div class="card-body">
            <img src="/static/img/widget.png" class="image-fluid rounded mx-auto d-block" alt="">
            
            <form action="/payment-succeeded" method="post" name="charge_form" id="charge_form" class="d-block needs-validations charge-form" autocomplete="off" novalidate="">

                <input type="hidden" name="product_id" value="{{$widget.ID}}">
                <input type="hidden" name="amount" value="{{$widget.Price}}">


                <h3 class="text-center mb-2">{{$widget.Name}} R$:{{$widget.Price}}</h3>
                <p class="mb-3">{{$widget.Description}}</p>

                <div class="mb-3">
                    <label for="cardholder-name" class="form-label">Nome do titular do cartão</label>
                    <input type="text" class="form-control" id="cardholder-name" name="cardholder_name" required autocomplete="cardholder-name-new" placeholder="Jhon Doe">
                </div>
    
                <div class="mb-3">
                    <label for="cardholder-email" class="form-label">Email do titular do cartão</label>
                    <input type="email" class="form-control" id="cardholder-email" name="cardholder_email" required autocomplete="cardholder-email-new" placeholder="jhon@email.com">
                </div>
    
                <div class="mb-3">
                    <label for="card-element" class="form-label">Cartão de Crédito</label>
                    <div id="card-element" class="form-control"></div>
                    <div class="alert-danger text-center" id="card-errors" role="alert"></div>
                    <div class="alert-success text-center" id="card-success" role="alert"></div>
                </div>
    
                <hr />
    
                <a id="pay-button" href="javascript:void(0)" class="btn btn-primary" onclick="val()">Comprar</a>
                
                <div id="processing-payment" class="text-center d-none">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Processando...</span>
                    </div>
                </div>
    
                <input type="hidden" name="payment_intent" id="payment_intent">
                <input type="hidden" name="payment_method" id="payment_method">
                <input type="hidden" name="payment_amount" id="payment_amount">
                <input type="hidden" name="payment_currency" id="payment_currency">
            </form>
        </div>
    </div>
{{end}}

{{define "js"}}

{{template "stripe-js" .}}

{{end}}