{{template "base" .}}

{{define "css"}}
<style>
    .card {
        max-width: 640px;
        margin: 0 auto;
        padding: 10px 30px;
        border: 1px solid #ccc;
        margin-top: 80px;
        background-color: #e9ecef;
    }

    .card-header {
        background-color: #e9ecef;
    }

    #toast-message {
        position: fixed;
        top: 0;
        right: 0;
        /* z-index: 9999; */
        width: 300px;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
</style>
{{end}}

{{define "title"}}
Resetar senha
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div id="toast-message"></div>

        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Resetar senha</h2>
            </div>
            <div class="card-body">
                <form method="post" name="forgot_form" id="forgot_form" class="d-block needs-validations forgot-form"
                    autocomplete="off" novalidate="">

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required
                            autocomplete="email-new" placeholder="Digite seu email">
                    </div>

                    <a href="javascript:void(0)" class="btn btn-primary" onclick="val()">Enviar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    const toastMessage = document.getElementById('toast-message');

    function showError(msg) {
        toastMessage.textContent = msg;
        toastMessage.classList.remove('d-none');
        toastMessage.style.backgroundColor = '#dc3545';

        setTimeout(() => {
            toastMessage.classList.add('d-none');
        }, 5000);
    }

    function showSuccess() {
        toastMessage.textContent = 'Recuperação de senha enviada com sucesso!';
        toastMessage.classList.remove('d-none');
        toastMessage.style.backgroundColor = '#28a745';

        setTimeout(() => {
            toastMessage.classList.add('d-none');
        }, 5000);
    }
    function val() {
        let form = document.getElementById('forgot_form');
        if (form.checkValidity() === false) {
            this.event.preventDefault();
            this.event.stopPropagation();
            form.classList.add('was-validated');
            return;
        }

        form.classList.add('was-validated');

        let payload = {
            email: document.getElementById('email').value,
        }

        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(payload)
        };

        fetch('{{.API}}' + "/forgot-password", requestOptions)
            .then(response => response.json())
            .then(response => {
                console.log("resp::", response)
                if (response.error === false) {
                    showSuccess();
                } else {
                    showError("Erro ao enviar email de recuperação de senha!");
                }
            })
    }
</script>
{{end}}