{{template "base" .}}

{{define "css"}}
<style>
    .card {
        max-width: 640px;
        margin: 0 auto;
        padding: 10px 30px;
        border: 1px solid #ccc;
        margin-top: 80px;
        background-color: #e9ecef;
    }

    .card-header {
        background-color: #e9ecef;
    }

    #toast-message {
        position: fixed;
        top: 0;
        right: 0;
        /* z-index: 9999; */
        width: 300px;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
</style>
{{end}}

{{define "title"}}
Login
{{end}}

{{define "content"}}
<div id="toast-message"></div>

<div class="card">
    <div class="card-header">
        <h2 class="text-center">Login</h2>
    </div>
    <div class="card-body">
        <form action="/login" method="post" name="login_form" id="login_form" class="d-block needs-validations login-form"
            autocomplete="off" novalidate="">

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required autocomplete="email-new"
                    placeholder="Digite seu email">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required
                    autocomplete="password-new" placeholder="Digite sua senha">
            </div>

            <hr />

            <a href="javascript:void(0)" class="btn btn-primary" onclick="val()">Login</a>
        </form>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    const toastMessage = document.getElementById('toast-message');

    function showError(msg) {
        toastMessage.textContent = msg;
        toastMessage.classList.remove('d-none');
        toastMessage.style.backgroundColor = '#dc3545';

        setTimeout(() => {
            toastMessage.classList.add('d-none');
        }, 5000);
    }

    function showSuccess() {
        toastMessage.textContent = 'Login realizado com sucesso!';
        toastMessage.classList.remove('d-none');
        toastMessage.style.backgroundColor = '#28a745';

        setTimeout(() => {
            toastMessage.classList.add('d-none');
        }, 5000);
    }
    function val() {
        let form = document.getElementById('login_form');
        if (form.checkValidity() === false) {
            this.event.preventDefault();
            this.event.stopPropagation();
            form.classList.add('was-validated');
            return;
        }

        form.classList.add('was-validated');

        let payload = {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
        }

        const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(payload)
        };

        fetch('{{.API}}' + "/authenticate", requestOptions)
            .then(response => response.json())
            .then(response => {
                console.log("resp::", response)
                if (response.error === false) {
                    localStorage.setItem('token', response.authentication_token.token);
                    localStorage.setItem('token_expiry', response.authentication_token.expiry);
                    showSuccess();

                    document.getElementById('login_form').submit();

                } else {
                    showError("Email ou senha inválidos!");
                }
            })
    }
</script>
{{end}}