{{template "base" .}}

{{define "css"}}

{{end}}

{{define "title"}}
Usuário Administrador
{{end}}


{{define "content"}}
    <h2 class="mt-5">Usuário Administrador</h2>
{{end}}

{{define "js"}}
<script>

</script>
{{end}}