{{template "base" .}}

{{define "css"}}
    <style>
        .card {
            max-width: 700px;
            margin: 0 auto;
            padding: 10px 30px;
            border: 1px solid #ccc;
            margin-top: 80px;
            background-color: #e9ecef;
        }
        .card-header {
            background-color: #e9ecef;
        }
    </style>
{{end}}

{{define "title"}}
Pagamento realizado com sucesso
{{end}}

{{define "content"}}
<div class="card">
    <div class="card-header">
        <h2 class="mt-2">Pagamento realizado com sucesso</h2>
    </div>
    <div class="card-body">
        <p><strong>Intenção de pagamento</strong>: {{index .Data "paymentIntent"}}</p>
        <p><strong>Titular do cartão</strong>: {{index .Data "cardholder"}}</p>
        <p><strong>Email</strong>: {{index .Data "email"}}</p>
        <p><strong>Método de pagamento</strong>: {{index .Data "paymentMethod"}}</p>
        <p><strong>Valor do pagamento</strong>: {{index .Data "paymentAmount"}}</p>
        <p><strong>Moeda</strong>: {{index .Data "paymentCurrency"}}</p>
    </div>
</div>
{{end}}