{{template "base" .}}

{{define "title"}}
    Plano Premium
{{end}}

{{define "content"}} 

    <div class="col-md-12">
        <h1 class="display-4">Plano Premium</h1>
        <p class="lead">Aqui você pode ver os planos premium disponíveis.</p>
        <hr class="my-4">
        <p>Selecione o plano que mais se adequa a sua necessidade.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
    </div>

{{end}}