{{template "base" .}}

{{define "title"}}
Venda
{{end}}

{{define "content"}}
<div class="card mt-4">
    <div class="card-header">
        <h2 class="mt-2">Venda</h2>
        <span id="refunded" class="badge bg-danger d-none">Reenbolso</span>
        <span id="charged" class="badge bg-success d-none">Cobrado</span>
    </div>
    <div class="card-body">
        <p>
            <strong>Nº Venda:</strong> 
            <span id="sale-id"></span>
        </p>
        <p>
            <strong>Cliente:</strong>
            <span id="sale-customer"></span>
        </p>
        <p>
            <strong>Produto:</strong>
            <span id="sale-widget"></span>
        </p>
        <p>
            <strong>Valor:</strong>
            <span id="sale-amount"></span>
        </p>
    </div>
    <div class="card-footer">
        <a href="/admin/all-sales" class="btn btn-info">Cancelar</a>
        <a href="#!" id="refund-btn" class="btn btn-warning d-none">Reembolso</a>
    </div>

    <input type="hidden" id="payment_intent" value="">
    <input type="hidden" id="amount" value="">
    <input type="hidden" id="currency" value="">
</div>
{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let token = localStorage.getItem("token");
    let saleId = window.location.pathname.split("/").pop();

    document.addEventListener("DOMContentLoaded", function() {

        const requestOptions = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
        }

        fetch('{{.API}}'+ '/admin/get-sale/' + saleId, requestOptions)
            .then(response => response.json())
            .then(function(data) {
                if (data) {
                    console.log("data***", data)
                    document.getElementById("sale-id").innerHTML = data.id;
                    document.getElementById("sale-customer").innerHTML = data.customer.first_name + " " + data.customer.last_name;
                    document.getElementById("sale-widget").innerHTML = data.widget.name;
                    document.getElementById("sale-amount").innerHTML = formatCurrency(data.transaction.amount);
                    document.getElementById("payment_intent").value = data.transaction.payment_intent;
                    document.getElementById("amount").value = data.transaction.amount;
                    document.getElementById("currency").value = data.transaction.currency;

                    if (data.status_id === 1) {
                        document.getElementById('refund-btn').classList.remove("d-none")
                        document.getElementById('charged').classList.remove("d-none")
                    } else {
                        document.getElementById('refunded').classList.remove("d-none")
                    }
                }
            })

            
    });

    let refoundBtn =  document.getElementById('refund-btn')
    refoundBtn.addEventListener("click", refound)

    function refound() {
        Swal.fire({
            title: 'Tem certeza?',
            text: "Você não poderá reverter isso!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, reembolsar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                console.log("Reembolsar", saleId)
                let payload = {
                    id: parseInt(saleId),
                    payment_intent: document.getElementById("payment_intent").value,
                    amount: parseInt(document.getElementById("amount").value),
                    currency: document.getElementById("currency").value,
                }

                const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json',
                        'Authorization': 'Bearer ' + token
                    },
                    body: JSON.stringify(payload)
                }

                fetch('{{.API}}'+ '/admin/refund', requestOptions)
                    .then(response => response.json())
                    .then(function(data) {
                        if (!data.error) {
                            Swal.fire({
                                title: 'Reembolso',
                                text: data.message,
                                icon: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Ok'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    document.getElementById('refund-btn').classList.add("d-none")
                                    document.getElementById('refunded').classList.remove("d-none")
                                    document.getElementById('charged').classList.add("d-none")

                                    window.location.href = "/admin/all-sales"
                                }
                            })
                        } else {
                            Swal.fire({
                                title: 'Reembolso',
                                text: data.message,
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Ok'
                            })
                        }
                    })
            }
        })
    }

    function formatCurrency(value) {
        let c = parseFloat(value/100);
        return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(c);
    }
</script>
{{end}}