{{define "body"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <title>Recuperar senha</title>
</head>
<body>
    <p>Ola:</p>
    <p>Você recebeu o link para recuperar sua senha.</p>
    <p>Click no link abaixo para trocar a senha:</p>
    <p><a href="{{.Link}}">{{.Link}}</a></p>
    <p>Este link expira em 60 minutos</p>
    <p>--<br>
        Widget's Co.
    </p>
</body>
</html>

{{end}}